@font-face {
  font-family: 'Rubik';
  src: url('../public/Rubik.ttf');
}

body {
  margin: 0;
  font-family: 'Rubik', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  min-height: 1px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;