@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    min-height: 1px;
}

@font-face {
    font-family: 'Inter';
    src: url('../public/Inter.ttf');
}

@layer components {
    .text-crop {
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
